/* Reset de CSS - Limpa configurações padrão que atrapalham */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.container-grid{
    width: 80vw;
    max-width: 1400px;

    margin: 0 auto; 

    justify-content: space-between;
    display: flex;
    align-items: center;

    margin-top: 30px;
}

body{
    background-color: black;
}

header{
    height: 165px;
    background-color: red;
}

header img{
    width: 120px;
    height: 120px;
}

.menu{
    color: white;
    font-size: 20px;

    text-decoration: underline transparent;
    text-decoration-thickness: 2px;
    
    transition: text-decoration 500ms ease;
    
}

.contato{

    

}



/* .contato a{
    font-size: 20px;
    color: black;
    background-color: #F9F647;

    border-radius: 50px;
    
    text-decoration: underline transparent;
    text-decoration-thickness: 2px;
    
    transition: text-decoration 500ms ease;
} */
